.material-icons{
    align-items: center;
}
.pointer{
    cursor: pointer;
}
label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
 }

 .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }